@import "tailwindcss";

@theme {
  --color-background-primary: #050505;;
  --color-background-secondary: #0f0f10;
  --color-background-tertiary: #19191a;
  --color-content-body: #cdcbcc;
  --color-content-placeholder: #827d7f;
  --color-content-headline: #b2b2b2;
  --color-border-primary: #19191a;
  --color-border-secondary: #323234;
  --color-border-tertiary: #97979b;
  --color-accent-purple: #4b2dbb;
  --color-accent-green: #87bb20;
  --color-accent-pink: #b5446b;
}


